# dependencies
node_modules/

# environment variables
.env
.env.local
.env.*.local

# build output
dist/

# editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
*.log
npm-debug.log*

# large media files
*.mov
*.avi

# lock files
package-lock.json

# OS files
.DS_Store
Thumbs.db
